.message {
    background-color: #154c79;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
:root {
    --design-primary-color: pink;
    --design-secondary-color: white;
    --design-background-color: white;
    --design-surface-color: blue;
}

.icons {
    font-size: 24px;
    color: #154c79;
}

:host(.solid) .bk-btn {

    margin-right: 30px;
}