numpy
scipy
speechrecognition
sounddevice
panel
setuptools-rust
openai-whisper
pygame
soundfile
openai
groq
chromadb
pydub
gtts
bs4
transformers
chromadb
git+https://github.com/openai/whisper.git
